
body {
  font-family: Arial, Helvetica, Verdana;
  font-size: 1.5em; /*1.5 em pero quedaría muy grande*/
  color: black;
}

#main-header {
	background-image: url("cabecera.jpg");
  background-color: #BCAAA4;
	color: white;
	height: 80px;
  width: 750px;
	left: 0;
	top: 0;
  position: fixed;
  flex: auto;
  font-size: 13px;
}

  	#main-header a {
    		color: white;
  	}

  		.site-name {
    			color: white;
   		}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
    	flex: auto;
  }


  	#logo-header .site-name {
		display: block;
    		font-family: arial;
		font-weight: 900;
		font-size: 48px;
  	}

nav {
	float: right;
    	flex: auto;
}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
    		font-family: arial;
	}

		nav ul li {
			display: inline-block;
			line-height: 70px;
      			flex: auto
		}

			nav ul li a {
				display: block;
				padding: 0.3em;
        margin-bottom: 0.7em;
				text-decoration: none;
			}

				nav ul li a:hover {
					background: #6e8a9a73;
				}

footer {
  	background: #BCAAA4;
	color: white;
	height: 35px;
  	width: 750px;
	left: 0;
	bottom:0px;
  	position: fixed;
  	flex: auto;
}
p{
  margin-top: 0.5em;
}

.tab {
  padding: 5px;
}

.content1 {
 	background: #464545eb;
	color: white;
	height: 80%;
  	width: 200px;
  	top: 100px;
  	left: 5px;
	bottom:0px;
  	position: fixed;
  	flex: auto;
   	overflow:scroll;

    font-size: 13px;
}

.content2{
  font-size: 13px;
  	background: #464545eb;
	color: white;
	height: 80%;
  	width: 330px;
 	top: 100px;
  	left: 210px;
	bottom:0px;
  	position: fixed;
 	flex: auto;
 	overflow:scroll;
}

.content3{
  font-size: 13px;
  	background: #464545eb;
	color: white;
	height: 80%;
 	 width: 200px;
  	top: 100px;
  	left: 550px;
	bottom:0px;
  	position: fixed;
  	flex: auto;
  	overflow:scroll;
}
.colC {
  text-align: center;
}


.colLink:link{
  text-align: inherit;
  color: #6598dc;
}
.colLink:visited{
  text-align: inherit;
  color: red;
}


.colLink2:link{
  text-align: inherit;
  color: #6598dc;
  padding-bottom: 30px;
}

.colLink2:visited{
  text-align: inherit;
  color: #6598dc;
  padding-bottom: 30px;
}

table {
    	border-collapse: collapse;
      	margin-left: 3%;
      	margin-right: 3%;
	color: white;
}

table, th, td {
    	border: 1px solid white;
}

table a {
  color: green;
}

img{
  	height: 180px;
  	width: 80%;
}
a:link{
  text-align: inherit;
  color: #6598dc;
}
a:visited{
  text-align: inherit;
  color: red;
}
.img{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}
.img-border{
  	border-color: #333;
  	border-width: 3px;
  	border-style: solid;
  	border-radius: 10px;
}



.links:hover{
  	background-color: #BCAAA4;
}

.contenedor {

}
